matplotlib                    3.5.3
numpy                         1.23.3
pandas                        1.4.4
pyDOE                         0.3.8
scipy                         1.9.1
sympy                         1.11.1
torch                         1.12.1
torchaudio                    0.12.1
torchvision                   0.13.1
